#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));


}

body {
    background-color: black;
    margin: 5% 10% 10% 10%;
}


h2 {
    text-align: center;
    color: #e8e8e8;
}

p {
    text-align: center;
    color: #e8e8e8;

}

h1 {
    text-align: center;
    color: #dadada;
    box-shadow: 1px 1px 1px 1px;
}

img {
    margin: 5%;
    border: 10px solid #7e7777;
}