* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

table {
    border-collapse: separate;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 10px auto;

}

thead :first-child {
    font-size: 1.5rem;
    background-color: #918b76;
    border: 1px solid black;

}

tbody th {
    background-color: #aca885;
    border: 1px solid black;

}

thead th {
    background-color: #e1ca96;
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 5%;
    border: 1px solid black;
    padding: 0.25em 0.5em 0.25em 1em;
    text-indent: 3em;
}

tbody tr:nth-child(odd) {
    background-color: rgba(129, 115, 115, 0.25);

}

caption {
    caption-side: bottom;
}