* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 1900px;
    margin: 5%;
}


.join {
    display: block;
    color: #005E66;
    font-size: 1.5rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #005E66;
    padding: .5rem;
    margin: .6rem;
}

header {
    text-align: right;

}

.location {
    color: #005E66;
    font-size: 1rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #005E66;
    padding: .4rem;
    margin: .5rem;

}

.setting {
    color: #005E66;
    font-size: 1rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #005E66;
    padding: .4rem;
    margin: .5rem;
}

h1 {
    color: #7A1F00;
    font-family: "Roboto Condensed";
    font-size: 2.5rem;
    text-align: center;
}



li a {
    font-family: 'Roboto', sans-serif;
    color: #005E66;
    text-decoration: none;
    padding: .3rem;
    box-shadow: 1px 1px;
    background-color: #EDF6F9;
    text-align: center;


}

.social {
    background-color: #005E66;
    padding: 50px 50px;
    display: flex;
    justify-content: flex-end;

}

footer p {
    font-size: 1.2rem;
    font-family: "Light 300 Italic";
    background-color: #005E66;
    text-align: left;
    color: white;
    margin-left: 1%;
    padding-bottom: 2%;

}

footer {
    background-color: #005E66;
}

#hero-img {
    width: 100%;
}



#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}


#hero-msg {
    grid-column: 2/3;
    grid-row: 1/4;
    margin-top: 1px;
    padding-top: 1px;
}

h2 {
    text-align: center;
    margin: 10%;

}


nav .navigation {
    padding: .5rem;
    display: block;
    max-width: 1900px;

}

.navigation {

    list-style-type: none;
    margin: auto;
    max-width: 1900px;
    text-align: center;
    font-size: 1.5rem;

}

.navigation li {
    display: none;
}


.open li {
    display: block;
    width: 100%;

}

.open li a {
    display: block;

}

#menu {
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

main section img {
    max-width: 50%;
    height: auto;
}

section {

    text-align: center;
}

h3 {
    margin: 1rem;
    text-align: center;
}

h4 {
    text-align: left;
}

main p {
    text-align: justify;
}

.pwheather p {
    text-align: center;
}