@media(min-width:640px) {




    nav .navigation {
        flex: 1 1 100%;
        display: flex;
    }


    .social {
        align-self: center;
    }

    .social a {
        width: 24px;
        height: 24px;
        margin: 1.5%;

    }

    #hero-msg {
        margin-top: 50px;
    }



}

@media (min-width: 37.5em) {
    #menu {
        display: none;

    }

    .navigation {
        flex-direction: row;

    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

}